
<%#= render @friend %>

<div>


  <%= button_to "Destroy this friend", @friend, method: :delete %>

  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2>
        <%= @friend.first_name %> <%= @friend.last_name %>
      </h2>
      <p>
        <%= @friend.email %> | <%= @friend.phone %> | <%= @friend.twitter %>
      </p>
<!--      <button class="btn btn-outline-secondary" type="button">Example button</button>-->
      <%= link_to "Edit", edit_friend_path(@friend), class: "btn btn-outline-secondary" %>
      <%= link_to "Back", friends_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
